@import url('https://fonts.googleapis.com/css?family=Space%20Mono:700|Poppins:400');

:root {
    --text: #100C12;
    --background: #F6F1F9;
    --primary: #7209B7;
    --secondary: #4CC9F0;
    --accent: #F72585;
}

body {
    margin: 0;
    background-image: url(background.png);
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    color: var(--text);
}

.wrapper {
    background-color: var(--background);
    width: 1000px;
}
